* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 100px;
  display: flex;
  height: 200px;
  flex: 1;
  background-color: #fff;
  box-shadow: #6a5acd 0px 0px 5px 0px;
  border-bottom: 1px solid #6a5acd;
}

header div {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  display: flex;
  flex: 1;
  background-color: #695acd17;
}

header div ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

header div ul li a.select-page {
  border-bottom: #6a5acd 2px solid;
}

header div a {
  display: flex;
  text-decoration: none;
  color: #6a5acd;
  font-size: 15px;
}

main {
  display: flex;
  flex: 1;
  padding: 125px 15% 0 15%;
  min-height: 100vh;
}

footer {
  background-color: #6a5acd;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer .container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 2rem 15%;
}

footer .container nav {
  display: flex;
  flex-direction: column;
  flex: 1 1 150px;
  margin-bottom: 1rem
}

footer .container .container-title {
  flex: 1 1 250px;
  margin-bottom: 1rem
}

footer div .made-by {
  margin-bottom: 1rem;
}

footer div .made-by h5 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

footer div .made-by p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

footer .copyright {
  text-align: center;
  padding: 1rem;
  font-size: 0.85rem;
  border-top: 1px solid #ffffff33;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}